<!-- Start of Alert Message -->
<h4 class="alert-message warning"><span class="message">Welcome to the free MediaLoot admin panel template, this could be an informative message.</span></h4>
<h4 class="alert-message error"><span class="message">An Error Message</span> <a class="close" href="#">×</a></h4>
<h4 class="alert-message success"><span class="message">A Success Message</span> <a class="close" href="#">×</a></h4>
<h4 class="alert-message info"><span class="message">A Info Message</span> <a class="close" href="#">×</a></h4>
<!-- End of Alert Message -->
