<section class="inner-form module">
  <h3>Form Title</h3>
  <form id="form-demo" action="" method="post">
    <fieldset>
      <legend>Legend</legend>
      <div class="element">
        <label for="form-text-box" class="prefix">Textbox</label>
        <input type="text" id="form-text-box" name="text_box" value="" placeholder="Placeholder" />
      </div>
      <div class="element">
        <label for="form-text-area" class="prefix">Textarea</label>
        <textarea id="form-text-area" name="text_area" value="" placeholder="Placeholder" cols="50" rows="10"></textarea>
      </div>
      <div class="element">
        <label for="form-photo" class="prefix">Image</label>
        <div class="image">
          <img src="img/anonymous.gif" alt="photo" />
          <input type="file" id="form-photo" name="photo" />
        </div>
      </div>
      <div class="element">
        <label for="form-datepicker" class="prefix">Date Picker</label>
        <input type="text" id="form-datepicker" class="datepicker" name="datepicker" value="" placeholder="2012-01-01" />
      </div>
      <div class="element">
        <label for="form-selection" class="prefix">Selection</label>
        <select id="form-selection" class="chosen" name="selection">
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select>
      </div>
      <div class="element">
        <label for="form-tags" class="prefix">Tags</label>
        <textarea id="form-tags" class="tags" name="tags" value="" rows="1"></textarea>
      </div>
    </fieldset>
    <div class="buttons">
      <button type="submit" class="btn primary">Sumit</button>
      <button type="reset" class="btn">Reset</button>
    </div>
  </form>
</section>