<!-- Start of Stats -->
<article class="module stats">
  <h3>Stats</h3>
  <div class="content">
    <section class="stats-graph">
      <img src="http://chart.apis.google.com/chart?chxr=0,0,3000&chxt=y&chs=520x140&cht=lc&chco=76A4FB,80C65A&chd=s:Tdjpsvyvttmiihgmnrst,OTbdcfhhggcTUTTUadfk&chls=2|2&chma=40,20,20,30" width="520" height="140" alt="" />
    </section>

    <section class="stats-overview">
      <div class="overview-today">
        <p class="overview-day">Today</p>
        <p class="overview-count">1,876</p>
        <p class="overview-type">Hits</p>
        <p class="overview-count">2,103</p>
        <p class="overview-type">Views</p>
      </div>
      <div class="overview-previous">
        <p class="overview-day">Yesterday</p>
        <p class="overview-count">1,646</p>
        <p class="overview-type">Hits</p>
        <p class="overview-count">2,054</p>
        <p class="overview-type">Views</p>
      </div>
    </section>
  </div>
</article>
<!-- End of Stats -->